# Admin Access Key
ADMIN_ACCESS_KEY=roopsnap

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=roopsnap

# Supabase Configuration (Optional - not needed if using MongoDB)
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
